* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100dvh;
	width: 100vw;
}

.scoresheet {
	height: 100dvh;
	overflow-y: hidden;
}

.text-small {
	font-size: 0.8rem;
}

.cursor {
	cursor: pointer;
}

.header-row {
	font-size: 0.75rem;
	font-weight: 700;
}

.spacer {
	height: 0.5rem;
}

#scoreboard,
#lineup-visitor,
#lineup-home,
#pitchers,
#pitcher-visitor,
#pitcher-home {
	/* To indicate that the scoreboard can be dragged */
	&:hover {
		border-color: red !important;
	}
}
